body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

#header li {
    display: inline-block;
}
a {
    text-decoration: none;
    display: inline;
    font-size: 15px;
    padding: 15px 15px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 20px;
}
#header a:hover {
    cursor: pointer;
    color: rgba(0,0,0,0.23);
}
#main img {
    max-width: 200px;
}
#main {
    text-align: center;
}

#main p {
    font-weight: 700;
}

#main h1 {
    text-align: center;

}

#userpass {
    text-align: right;
    margin-bottom: 100px;
}

#userpass a {
    font-weight: 700;
    padding-left: 15px;
}

#menuimagelogo img {
    position:absolute;
    left:20px;
    top:20px;
}
.addtocart {
    margin-bottom: 65px;
}
.menulist {
    margin-top: 50px;
}
#footer p {
    text-align: center;
}

