body {
    background-color: white;
}

#header ul {
    text-align: center;
}

#header li {
    text-decoration: none;
    display: inline;
    font-size: 25px;

}
#header a:hover {
    font-size: 27px;
}

#login, #menu{
  display: inline-block;
}
#main img {
    max-width: 200px;
    position: center;
}
#main {
    text-align: center;
}

#userpass {
    position: center;
    text-align: center;
}
#menuimagelogo {

}