body {
    background-color: white;
}

#header ul {
    padding: 15px;
}

#header li {
    text-decoration: none;
    display: inline;
    font-size: 25px;
}
#header a:hover {
    font-size: 15px;
}

#login, #menu{
    display: inline-block;
}
#main img {
    max-width: 200px;
}